---
layout: default
title: Interaction & Interface Design. And beer.
---

<ul class="posts">
  {% for post in site.posts %}
    <li> 
      <h1><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h1>
      <time> {{ post.date | date_to_string }} </time>
      <p>{{ post.content }}</p>
    </li>
  {% endfor %}
</ul>


<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/" title="Previous Page">&laquo; Previous</a>
    {% else %}
    <a href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Previous</a>
    {% endif %}  
  {% endif %}
  
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}/" title="Next Page">Next &raquo;</a>
  {% endif %}
</div>




