---
layout: default
title: Interaction & Interface Design. And beer.
---

{% for post in paginator.posts %}
<article> 
  <header>
    <h1><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h1>
    <h2>{{ post.tags | sort | array_to_sentence_string }} </h2>
    <time> {{ post.date | date: "%B %d, %Y" }} </time>
  </header>
        
  {{ post.content }}
        
</article>
  {% endfor %}

<!-- Pagination links -->
<nav class="pagination">
  <ul>
  {% if paginator.previous_page %}
    <li class="now"><a href="/page{{paginator.previous_page}}">&laquo; towards the now</a></li>
  {% endif %}
  {% if paginator.next_page %}
    <li class="past"><a href="/page{{paginator.next_page}}">into the past &raquo;</a></li>
  {% endif %}
</nav>