//////
//////
////// Ye Olde Typography
//////
//////

$font-weight-light: 300;
$font-weight-book: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;

$font-heading: "Whitney A", "Whitney B", "Helvetica", "Arial", sans-serif;

$font-size-base: 16px;

body {
  font-family: $font-heading;
  font-weight: $font-weight-light;
  font-size: $font-size-base;
  //line-height: $line-height-body;
}

$font-size-x-large: 2.6rem;
$font-size-large: 2rem;
$font-size-regular: 1.6rem;
$font-size-small: 1rem;

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-light;
  margin-top: 0;
}

h1 {
  font-size: $font-size-x-large;
  line-height: 3.2rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: $font-size-large;
  line-height: 2.8rem;
  margin-bottom: 0;
  @include breakpoint(medium) {
    margin-bottom: 2.5rem;
  }
}

h3 {
  font-size: $font-size-regular;
}

h4 {
  margin: .5rem 0;
}

p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 2rem 0;
}

strong {
  font-weight: $font-weight-semi-bold;
}

.about .design-loop {
  margin: 3rem 0;
}

.about .col-2 h3 {
  margin: 2rem 0 2rem 0;
}
