//////
//////
////// Variables
//////
//////

$dark-grey: #222;
$yellow: #F0B600;
$white: #FFF;

$main-padding: 3rem;

$transition: all .15s ease;

$main-text: $dark-grey;
$link-accent-color: $yellow;
$reversed-out-text: $white;
