@import 'partials/mixins';
@import 'partials/variables';
@import 'partials/fonts';
@import 'partials/scaffolding';
@import 'partials/normalize';

body {
  margin: 0;
  padding: 0 2rem;
  color: $main-text;
}

a {
  color: $main-text;
  border-bottom: 2px solid $link-accent-color;
  transition: $transition;
  &:hover {
    color: $link-accent-color;
  }
}

header,
main,
footer {
  max-width: 1600px;
  margin: 0 auto;
}

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  @include breakpoint(medium) {
    padding-left: $main-padding;
    padding-right: $main-padding;
  }
}

nav {
  text-transform: uppercase;
  font-size: .9rem;
  @include breakpoint(medium) {
    float: right;
  }
  ul {
    display: block;
    width: 100%;
    margin-top: .5rem;
  }
  li {
    display: inline-block;
    padding-left: 1rem;
    margin-top: 1rem;
    @include breakpoint(medium) {
      padding-left: 2rem;
      margin-top: 0;
    }
    &:first-child {
      padding-left: 0;
    }
  }
  a {
    border-bottom: 2px solid $white;
  }
}

.logo {
  display: block;
  @include breakpoint(medium) {
    display: inline-block;
    float: left;
  }
  background-image: image-url('logo.png');
  width: 70px;
  height: 33px;
  background-size: 70px 33px;
  text-indent: -99999rem;
  border: 0;
}

.speaking .speaking a,
.coaching .coaching a,
.about .about a,
.reading .reading a {
  border-bottom: 2px solid $yellow;
}


.hero {
  position: relative;
  h1 {
    position: absolute;
    color: $reversed-out-text;
    top: 25%;
    left: 1rem;
    font-size: $font-size-regular;
    @include breakpoint(large) {
      top: 35%;
      left: 3rem;
      font-size: $font-size-x-large;
    }
  }
  span {
    display: block;
    font-size: 1rem;
    margin-top: -1.5rem;
    @include breakpoint(large) {
      font-size: 1.6rem;
      margin-top: 0rem;
    }
  }
}

footer {
  text-align: center;
  clear: both;
  ul {
    margin: 3rem auto;
    li {
      display: block;
      text-align: center;
      margin: 1rem 0;
      @include breakpoint(medium) {
        display: inline-block;
        margin: 0 1rem;
      }
    }
  }
}

input {
  border-radius: 3px;
  border: 0;
  padding: .8rem;
  display: inline;
  &:focus {
    outline: 0;
  }
}

input[type=email] {
  width: 15rem;
}

input[type=submit] {
  background-color: $yellow;
  color: $dark-grey;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin-left: .5rem;
  margin-top: 1rem;
  font-size: $font-size-small;
  text-transform: uppercase;
  @include breakpoint(medium) {
    margin-top: 0;
  }
  &:hover {
    cursor: pointer;
  }
}

.newsletter div {
  display: inline-block;
}

.mc-status {
  display: block !important;
  text-align: center;
  margin-top: 1rem;
}

.content {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "content";

  @include breakpoint(medium) {
    padding: 0 $main-padding;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header content";
  }
}

.col-1 {
  grid-area: header;

  @include breakpoint(medium) {
    max-width: 60%;
  }
}

.col-2 {
  grid-area: content;
  h2 {
    margin-top: 2rem;
    margin-bottom: 0;
  }
}

.on-design {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "content";

  @include breakpoint(large) {
    padding: 0 $main-padding;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header content";
  }

  .design-col-1 {
    grid-area: header;

    @include breakpoint(large) {
      max-width: 60%;
    }
  }
}

.mission-statement {
  text-align: center;
  padding: 4rem 0 3rem 0;
}

.section-label {
  font-size: $font-size-small;
  text-transform: uppercase;
  line-height: 1.6rem;
  margin-bottom: 0;
  margin-top: 2rem;
}

.bio .bio {
  padding-top: 4rem;
  margin: 0 auto;
  @include breakpoint(large) {
    max-width: 50%;
  }
  @include breakpoint(xlarge) {
    max-width: 40%;
  }
  img {
    margin-bottom: 2rem;
  }
}

.separator {
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
  margin: 2rem 0;
}

.index .content h2 {
  margin-top: 1.5rem;
}

.training h2 {
  margin-bottom: -1.5rem;
}

.col-2 h3 {
  margin-bottom: -1.5rem;
  line-height: 2.3rem;
}

.video-container {
  @include breakpoint(medium) {
    width: 150%;
    margin-left: -50%;
    margin-top: 2.5rem;
    margin-bottom: 4rem;
  }
}

.book-cover {
  display: block;
  width: 240px;
  border: 1px solid #EEE;
  margin: 0 auto;
  margin-bottom: 2rem;
  @include breakpoint(medium) {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 3rem;
  }
}

.newsletter {
  background: #EEE;
  padding: 5rem 2rem;
  margin-top: 3rem;
}


.design-loop {
  margin-top: 2rem;
  align-self: center;
}

.about .design-loop {
  margin: 3rem 0;
}

.about .col-2 h3 {
  margin: 2rem 0 2rem 0;
  span {
    display: block;
    font-size: $font-size-small;
  }
}

.caption {
  margin-top: -1.5rem;
  font-size: .9rem;
}

.upcoming {
  margin-top: -1.5rem;
  li {
    margin: .7rem 0;
  }
}
