@import 'partials/mixins';
@import 'partials/variables';
@import 'partials/fonts';
@import 'partials/scaffolding';
@import 'partials/normalize';

body {
  margin: 0;
  padding: 0 2rem;
  color: $main-text;
}

a {
  color: $main-text;
  border-bottom: 2px solid $link-accent-color;
  &:hover {
    color: $link-accent-color;
  }
}

header,
main {
  max-width: 1600px;
  margin: 0 auto;
}

header {
  padding: 1rem 3rem;
  margin-bottom: 2rem;
}


.hero {
  position: relative;
  h1 {
    position: absolute;
    color: $reversed-out-text;
    left: 3rem;
    top: 35%;
  }
  span {
    display: block;
    font-size: 1.6rem;
  }
}

nav {
  text-transform: uppercase;
  float: right;
  font-size: .9rem;
  ul {
    display: block;
    width: 100%;
    margin-top: .5rem;
  }
  li {
    display: inline-block;;
    padding-left: 2rem;
  }
  a {
    border-bottom: 2px solid $white;
  }
}

.speaking .speaking a,
.coaching .coaching a,
.about .about a,
.reading .reading a {
  border-bottom: 2px solid $yellow;
}

footer {
  text-align: center;
  clear: both;
  ul {
    margin: 3rem auto;
    li {
      display: inline-block;
      margin: 0 1rem;
    }
  }
}

.logo {
  display: inline-block;
  background-image: image-url('logo.png');
  width: 70px;
  height: 33px;
  background-size: 70px 33px;
  text-indent: -99999rem;
  float: left;
  border: 0;
}

.center {
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header content";
  padding: 0 3rem;
}

.col-1 {
  grid-area: header;
  max-width: 60%;
}

.col-2 {
  grid-area: content;
  h2 {
    margin-top: 2rem;
  }
}

.mission-statement {
  text-align: center;
  padding: 4rem 0 3rem 0;
}

.section-label {
  font-size: $font-size-small;
  text-transform: uppercase;
  line-height: 1.6rem;
  margin-bottom: 0;
  margin-top: 2rem;
}

.bio .bio {
  padding-top: 4rem;
  max-width: 40%;
  margin: 0 auto;
  img {
    margin-bottom: 2rem;
  }
}

.separator {
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
  margin: 2rem 0;
}

.index .content h2 {
  margin-top: 1.5rem;
}

.video-container {
  margin-top: 2.5rem;
  width: 150%;
  margin-left: -50%;
  margin-bottom: 4rem;
}

.training h2 {
  margin-bottom: -1.5rem;
}

.book-cover {
  width: 240px;
  border: 1px solid #EEE;
}

.col-2 h3 {
  margin-bottom: -1.5rem;
}
