@import 'partials/mixins';
@import 'partials/variables';
@import 'partials/fonts';
@import 'partials/scaffolding';
@import 'partials/normalize';

body {
  border-top: .5rem solid #333;
  border-bottom: .5rem solid #333;
  margin: 0;
  padding: 0;
}

a {
  color: #647C8E;
  &:hover {
    color: #FF6447;
  }
}

.intro {
  margin-bottom: 5rem;
  @include breakpoint(large) {
    margin-right: 35%;
  }
}

.inner {
  margin-left: 1rem;
  margin-right: 1rem;

  @include breakpoint(large) {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  @include breakpoint(xlarge) {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

header {
  padding: 2rem 0;
  margin-bottom: 2rem;
}

nav {
  text-transform: uppercase;
  float: right;
  ul {
    display: block;
    width: 100%;
    margin-top: .5rem;
  }
  li {
    display: inline-block;;
    padding-left: 2rem;
  }
}

.logo {
  display: inline-block;
  background-image: image-url('awm.png');
  width: 80px;
  height: 33px;
  background-size: 80px 33px;
  text-indent: -99999rem;
  float: left;
}

.content {
  @extend %clearfix;
  clear: both;
  padding: 3rem 0;
  background: #EEE;

  a {
    border-bottom: 1px solid #FF6447;
    transition: $transition;
    &:hover {
      border-bottom: 1px solid #647C8E;
    }
  }
}

.supporting-list {
  span {
    display: block;
    color: #999;
    margin: .3rem 0;
  }
  li {
    margin: 1rem 0 1.5rem 0;
  }
}

footer {
  text-align: center;
  clear: both;
  ul {
    margin: 3rem auto;
    li {
      display: inline-block;
      margin: 0 1rem;
    }
  }
}

.bio {
  @include breakpoint(large) {
    width: 60%;
    display: inline-block;
    float: left;
  }
}

.headshot {
  max-width: 25rem;
  @include breakpoint(large) {
    width: 30%;
    display: inline-block;
    float: right;
  }
  img {
    border-radius: 8px;
  }
}

.slideshare {
  @extend %clearfix;
  margin: 5rem 0;
  iframe {
    @include breakpoint(large) {
      width: 50%;
      display: inline-block;
      float: left;
    }
  }
}

.talk-photos {
  @extend %clearfix;
  margin: 5rem 0 0 0;
  li {
    @include breakpoint(large) {
      width: 50%;
      display: inline-block;
      float: left;
    }
  }
}

.hero {
  @include breakpoint(large) {
    @include flexrow($extend: false);
  }
  margin-bottom: 4rem;
  margin-top: 4rem;
  .speaking-intro {
    @include breakpoint(large) {
      flex-basis: 75%;
    }
  }
  ul {
    @include breakpoint(large) {
      margin-left: 4rem;
    }
  }
}

.twitter {
  @extend %clearfix;
  padding: 5rem auto;
  margin: 4rem auto;
  ul {
    @extend %flexrow;
    flex-wrap: wrap;
  }
  li {
    /// TO-DO: flexbox this
    @include breakpoint(large) {
      flex-basis: 45%;
      width: 320px;
    }
  }
  blockquote {
    margin-bottom: 0;
    p {
    }
  }
}
