<article>
  <header>
    <h1><a href="#"><?php the_title(); ?></a></h1> 
    <h2><?php the_tags('', '<span> / </span>'); ?> </h2>
    <time datetime="<?php the_time('Y-m-d'); ?>" class="meta"><?php the_time('F jS, Y'); ?></time>
  </header>
        
  <?php the_content("Continue reading &raquo;"); ?>
 
      
  <footer>
    <?php if ( $wp_query->max_num_pages > 1 ) : ?>
    <nav>
      <ul class="articlenav">
        <li><?php previous_posts_link('&laquo; Towards the now') ?></li>
        <li><?php next_posts_link('Into the past &raquo;','') ?></li>
      </ul>
    </nav>
    <?php endif; ?>
  </footer>
</article>
<?php endwhile; ?>