<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
  <title>pnts.us | {{ page.title }}</title>

  {% if page.path contains '_posts' %}
  <!-- the if statement is a little dirty, but works -->
  <script type="text/javascript">
    __reach_config = {
    pid: '52fd028397b0c963df000002',
    title: '{{ page.title }}',
    url: 'http://pnts.us{{ page.url }}',
    date: '{{ page.date }}',
    channels: [{% for cat in page.categories %} '{{ cat }}' {% endfor %}],
    tags: [{% for tag in page.tags %} '{{ tag }}', {% endfor %}],
    iframe: true,
    ignore_errors: false,
  };
  (function(){
    var s = document.createElement('script');
    s.async = true;
    s.type = 'text/javascript';
    s.src = document.location.protocol + '//d8rk54i4mohrb.cloudfront.net/js/reach.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(s);
  })();
  </script>
  {% endif %}

  <meta charset="utf-8"> 
  <meta name="description" content="It is content, or rather the consciousness of content, that fills the void, but the mere presence of content is not enough. It is style that makes us care.  And beer.  Always beer." />
  <meta name="author" content="Andrea Mignolo" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  <meta name="google-site-verification" content="tCPhQbhWij1mPScz84y0GQDTWrlZ0oMyN702dRmtmr0" />  

  <link rel="icon shortcut" href="{{ BASE_PATH }}/favicon.ico" />
  <link rel="stylesheet" href="/assets/css/base.css" />
  
  <script type="text/javascript" src="//use.typekit.net/axl3lik.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
