<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
  <title>pnts.us | {{ page.title }}</title>
  
  <meta name="description" content="It is content, or rather the consciousness of content, that fills the void, but the mere presence of content is not enough. It is style that makes us care.  And beer.  Always beer." />
  <meta name="author" content="Andrea Mignolo" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  <meta name="google-site-verification" content="tCPhQbhWij1mPScz84y0GQDTWrlZ0oMyN702dRmtmr0" />  

  <link rel="icon shortcut" href="favicon.ico" />
  <link rel="stylesheet" href="/assets/css/base.css" />
  
  <script type="text/javascript" src="http://use.typekit.com/vyg7yhp.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
</head>

<body>