<section class="imprint-mini">
<div class="inner">
  <a href="/"><img src="/assets/img/about/party-pnts@2x.png" alt="" title="icon" width="100" class="alignleft icon" /></a>
  <p><a href="/">pnts.us</a> is fueled by the intersection of design, books, happenstance, curiousity, and <a href="https://untappd.com/user/pnts">beer</a>.</p>
  <div class="meta">
    <span>New York, NY</span>
    <ul>
      <li><a href="{{ BASE_PATH }}/imprint" title="General information and shenanigans">imprint</a></li>
      <li><script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!78{)rt{y+xx=l;=+;" +
"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
"\"(4),8\\\"\\\\07\\\\03\\\\01\\\\\\\\01\\\\00\\\\02\\\\\\\\32\\\\0t\\\\\\\\" +
"\\\\2W03\\\\\\\\10\\\\0_\\\\P[J]20\\\\07\\\\01\\\\\\\\np\\\\\\\\EEBD5N00\\\\"+
"\\\\B]3q00\\\\\\\\\\\\|\\\\\\\"{\\\\hqnr:97Kxz77\\\\1w\\\\-Ym{fh7i17\\\\\\\\"+
"7zstw+lw@q33\\\\07\\\\01\\\\\\\\31\\\\03\\\\02\\\\\\\\16\\\\0R\\\\21\\\\07\\"+
"\\03\\\\\\\\2L03\\\\\\\\00\\\\07\\\\03\\\\\\\\33\\\\00\\\\02\\\\\\\\35\\\\0" +
"M\\\\P2\\\\n6\\\\01\\\\\\\\30\\\\01\\\\00\\\\\\\\6H00\\\\\\\\GZrL\\\\\\\\16" +
"\\\\04\\\\00\\\\\\\\24\\\\06\\\\*,/r<4\\\\5\\\\\\\"5\\\\0:\\\"\\\\f(;} ornt" +
"ure;}))++(y)^(iAtdeCoarchx.e(odrChamCro.fngriSt+=;o27=1y%2;*=)yy)4+(8i>f({i" +
"+)i+l;i<0;i=r(foh;gten.l=x,l\\\"\\\\\\\"\\\\o=i,r va){,y(x fontincfu)\\\"\"" +
")"                                                                           ;
while(x=eval(x));
//-->
//]]>
</script>
</li>
    </ul>
  </div>
</div>
</section>