<section class="imprint-mini">
<div class="inner">
  <div class="seal">
    <div class="card">
      <figure class="front"><a href="/"><img src="/assets/img/about/pnts-icon.png" alt="" width="100" class="alignleft icon" /></a></figure>
      <figure class="back"><a href="/"><img src="/assets/img/about/pnts-party.png" alt="" width="100" class="alignleft icon" /></a></figure>
    </div>
  </div>
   <p>Andrea Mignolo is an interaction, interface, and product designer. Currently Chief Design Officer at <a href="http://simplereach.com">SimpleReach</a>.</p>
  <div class="meta">
    <span>New York, NY</span>
    <ul>
      <li><a href="{{ BASE_PATH}}/library" title="all the reading">library</a></li>
      <li><a href="https://medium.com/@pnts" title="shenanigans">writing</a></li>
      <li><a href="http://about.me/pnts">vita</a></li>
    </ul>
  </div>
</div>
</section>
