<section class="imprint">
<div class="inner">
  <a href="/"><img src="/assets/img/about/party-pnts@2x.png" alt="" title="icon" width="100" class="alignleft icon" /></a>
  <p><a href="/">pnts.us</a> is fueled by the intersection of books, tubes, mishaps, happenstance, curiousity, and <a href="https://untappd.com/user/pnts">beer</a>.</p>
  <div class="meta">
    <span>New York, NY</span>
    <ul>
      <li><a href="https://twitter.com/pnts">Twitter</a></li>
      <li><a href="https://github.com/pnts">Github</a></li>
      <li>
    <script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!29{)rt{y+xx=l;=+;" +
"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
"\"(1)11\\\\,`\\\"bjuq4ho{8>\\\\1\\\\\\\";\\\\~c07\\\\0{\\\\15;6t03=4q+!36\\" +
"\\0n\\\\27\\\\0w\\\\$,/3d16a03\\\\\\\\5221\\\\0M\\\\RI2K03\\\\\\\\WTPE25\\\\"+
"0[\\\\^_xT22\\\\0Z\\\\INHA\\\\\\\\\\\\\\\\0[03\\\\\\\\PU\\\\nP\\\\OV_PQQ^PT" +
"RXJ>P{}~(cdlg)a4Vbnmtb$#>0(02\\\\\\\\21\\\\01\\\\03\\\\\\\\17\\\\03\\\\02\\" +
"\\\\\\13\\\\07\\\\01\\\\\\\\2Y00\\\\\\\\33\\\\01\\\\02\\\\\\\\36\\\\07\\\\0" +
"0\\\\\\\\22\\\\07\\\\03\\\\\\\\13\\\\0\\\\\\\\(\\\"}fo;n uret}r);+)y+^(i)t(" +
"eAodrCha.c(xdeCoarChomfrg.intr=So+7;12%=;y=iy+1)11==(iif){++;i<l;i=0(ior;ft" +
"hnglex.l=\\\\,\\\\\\\"=\\\",o iar{vy)x,f(n ioctun\\\"f)\")"                  ;
while(x=eval(x));
//-->
//]]>
</script></li>
    </ul>
  </div>
</div>
</section>