@media screen and (min-width: 1024px) {

.inner { 
  width: 53%;
  max-width: 820px;
}

.reading .inner,
.elsewhere .inner {
  width: 60%;
}

.elsewhere li {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin: 1em 1em .5em 1em;
  padding-bottom: 1em;
  width: 27%;
  line-height: 1.4em;
} 

.article-nav ul {
  padding-top: 1em;
} 
}
