/*
::::::::::::::::::::::::::::::::::::::::::::::::::
  =Functions
::::::::::::::::::::::::::::::::::::::::::::::::::      
*/

@function calcEm( $target, $context ) {
  @return ( $target / $context ) + em;
}

@function calcPercent( $target, $context ) {
  @return ($target / $context) * 100%;
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::
  =Variables
::::::::::::::::::::::::::::::::::::::::::::::::::      
*/

$anchor           : hsl(173, 12.0000%, 14.7059%); 
$support          : hsl(176, 18.5185%, 47.6471%);
$highlight        : hsl( 323, 65.3226%, 48.6275% );
$link             : lighten( $anchor, 10% );
//$alt-link         : hsl( 51, 57.0248%, 80.2745% );
$alt-link         : hsl(182, 20.6068%, 67.2611%);
$support-link     : lighten( $support, 5% );
$hover            : $highlight;
$support-hover    : $highlight;
$copy             : lighten( $anchor, 3% );

$desktop          : calcEm( 1190, 16 );
$portrait         : calcEm( 768, 16 );
$pocket           : calcEm( 480, 16 );


/*
::::::::::::::::::::::::::::::::::::::::::::::::::
  =Mixins
::::::::::::::::::::::::::::::::::::::::::::::::::      
*/

@mixin prefix( $property, $value ) {
  -webkit-#{$property}: $value;
     -moz-#{$property}: $value;
      -ms-#{$property}: $value;
       -o-#{$property}: $value;
          #{$property}: $value;
}

@mixin breakpoint( $point ) {
  @if $point == portrait {
    @media ( min-width: $portrait ) { @content; }
  }
  @else if $point == desktop {
    @media ( min-width: $desktop ) { @content; }
  }
  @else if $point == pocket {
    @media ( max-width: $pocket ) { @content; }
  }
}

@mixin largescreen() {
  width: 66%;
  margin-left: 33%;
  margin-right: 2%;
  max-width: 45em;
  h1 {
    font-size: 3.3em;
  }
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::
  =Extends
::::::::::::::::::::::::::::::::::::::::::::::::::      
*/

// grabbing list style from Sassparilla but making them extends instead of mixins
%unordered {
   list-style-position: outside; 
   list-style-type: disc;
}

%unordered-inside {
   list-style-position: inside; 
   list-style-type: disc;
}

%ordered {
  list-style-position: outside; 
  list-style-type: decimal;
}

%ordered-inside {
  list-style-position: inside; 
  list-style-type: decimal;
}

%nobullet {
  list-style-type: none;
}

%inlineBlock{
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}

%borderBox {
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
}

%grid {
  @extend %inlineBlock;
  position: relative;
  float: left;
}

%subheader {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}


/*
::::::::::::::::::::::::::::::::::::::::::::::::::
  =Gridsy
::::::::::::::::::::::::::::::::::::::::::::::::::      
*/

$gridList: (2, 3, 4);

@for $grids from min( $gridList... ) through max( $gridList... ) {
  @for $columns from 1 through $grids {
    $columnWidth: round($columns / $grids * 100%);
    %col-#{$columns}-#{$grids} { @extend %grid; width: $columnWidth; }
  }
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::
  =Utilize all the things
::::::::::::::::::::::::::::::::::::::::::::::::::      
*/

*, *:after, *:before {
  @extend %borderBox;
}

html {
  border-top: .2em solid $support;
  @include breakpoint( portrait ) {
    border-top: none;
  }
}

body {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  color: $copy;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $support-link;
  &:hover {
    color: $highlight;
  }
}

a, a:link, a:visited, a:active {
  @include prefix( transition, color 0.3s ease-in-out );
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

img, embed, object, video {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  header & {
    margin: .2em 0;
  }
}

.alignleft {
  float: left;
  margin-right: 1em;
}

.alignright {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

.subheader {
  @extend %subheader;
}

article {
  margin: 1em 0;
  padding: 1em 2em;
  &:after {
    display: block;
    margin-top: 1em;
    border-top: 1px dotted lighten( $anchor, 60% );
    border-bottom: 1px dotted lighten( $anchor, 60% );
    padding: 4em 0;
    content: "\f19d";
    font-family: "Ionicons";
    text-align: center;
    font-size: calcEm( 64, 16 );
    color: lighten( $anchor, 60% );
  }
  header {
    margin-bottom: 1em;
    h2 {
      font-size: calcEm( 18, 16 );
      color: lighten( $anchor, 30% );
    }
  }
  h1 {
    line-height: 1.2em;
    word-wrap: break-word;
  }
  h2 {
    font-size: calcEm( 28, 16 );
  }
  h3 {
    font-size: calcEm( 24, 16 );
  }
  p {
    margin: 1.5em 0;
    font-size: calcEm( 18, 16 );
    line-height: 1.5em;
    a {
      color: $support-link;
      &:hover {
        color: $support-hover;
      }
    }
  }
  img {
    margin-bottom: 1em;
  }
  ul {
    @extend %unordered;
    padding: 0;
    font-weight: 300;
    margin: 1em 0;
    li {
      margin: 1em 0;
    }
  }
  blockquote {
    position: relative;
    margin: 2em 0;
    font-weight: 300;
    font-size: calcEm( 24, 16 );
    font-style: italic;
    line-height: 1.5em;
    color: lighten( $copy, 20% );
    &:before, &:after {
      position: absolute;
      color: lighten( $anchor, 60% );
      z-index: -10;
      font-size: calcEm( 148, 16 );
      opacity: .4;
    }
    &:before {
      content: "\201C";
      top: .3em;
      left: -.2em;
    }
    &:after {
      content: "\201D";
      bottom: -.3em;
      right: .1em;
    }
    &> p {
      padding: .2em 0;
    }
    strong {
      font-style: italic;
      font-weight: 300;
      background: transparentize(hsl(52, 100.0000%, 87.1943%), .5);
    }
  }
  .caption {
    font-size: calcEm( 14, 16 );
    margin: -1em 0 2em 0;
    color: lighten( $copy, 20% );
  }
  .questions {
    background: lighten( $anchor, 70% );
  }
  @include breakpoint( portrait ) {
    @include largescreen();
  }
  @include breakpoint( desktop ) {  
    margin-left: 28em;
  }
}

.source {
  font-weight: 300;
  margin-bottom: 2em;
  font-size: calcEm( 18, 16 );
  line-height: 1.4em;
  color: lighten( $anchor, 60% );
}

.pagination {
  margin: 0;
  padding: 0;
  .past, .now {
    a {
      @extend %col-1-2;
      font-weight: 700;
      text-transform: uppercase;
      font-size: calcEm( 11, 16 );
    }
  }
  .past a {
    padding: 1em 2em 1em 0;
    float: right;
    text-align: right;
  }
  .now a {
    padding: 1em 0 1em 2em;
    float: left;
  }
  @include breakpoint( portrait ) {
    @include largescreen();
  }
  @include breakpoint( desktop ) {  
    margin-left: 28em;
  }
}

time, sup, header h2 span,.global span, h1 span {
  color: lighten($anchor, 60%);
}

.imprint-mini {
  border-top: 1px solid #444;
  clear: both;
  background-image: url(../img/space/saturn.jpg);
  background-color: #000;
  background-repeat: no-repeat;
  .inner {
    padding: 2em 2em 3em 2em;
    color: #EFEFEF;
  }
  .seal {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    perspective: 800px;
  }
  .card {
    width: 100%;
    height: 100%;
    position: absolute;
    @include prefix( transform-style, preserve-3d);
    -webkit-transition: -webkit-transform 1s;
    &:hover {
      @include prefix( transform, rotateY( 540deg ));
    }
  }
  figure {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    backface-visibility: hidden;
  }
  .back {
    //@include prefix( transform, rotateY( 180deg ));
  }
  img {
    //margin: 1.4em 1.9em 4em 0;
    border-radius: 5em;
    padding: .5em;
    //float: left;
    background: #FFF;
    /*@include prefix( transition, all .3s ease-in-out);
    &:hover {
      opacity: .5;
    }*/
  }
  h2, .meta {
    @extend %subheader;
    margin-bottom: .2em;
  }
  h2 {
    font-size: calcEm( 14, 16 );
  }
  .meta {
    font-size: calcEm( 12, 16 );
    span {
      padding-right: 1em;
    }
    @include breakpoint( pocket ) {
      text-align: center;
    }
  }
  a {
    color: $alt-link;
    &:hover {
      color: $highlight;
    }
  }
  ul {
    margin: 0;
    padding-left: 0;
    li {
      display: inline;
      padding-right: 1em;
      &:first-child {
        &:after {
          content: "\f2bd";
          font-family: "Ionicons";
          color: #FFF;
          padding-left: 1.5em;
        }
      }
      &:last-child {
        &:before {
          content: "\f2bd";
          font-family: "Ionicons";
          color: #FFF;
          padding-right: 1.5em;
        }
      }
    }
  }
  @include breakpoint( portrait ) {
    max-width: 25em;
    width: 33%;
    position: fixed;
    top: 0;
    bottom: 0;
    border-top: none;
    border-right: .5em solid transparentize( #000, .8 );
    img {
      display: block;
      float: none;
      margin: 0 auto 1em auto;
    }
    span, ul {
      display: block;
      text-align: center;
    }
    ul {
      padding: 0;
    }
    .inner {
      position: absolute;
      bottom: 0;
    }
  }
}

.footnotes {
  padding: 0;
  margin: 4em 0 0 0;
  font-size: calcEm( 14, 16 );
  line-height: 1.4em;
  &:before {
    display: block;
    content: "footnotes";
    @extend %subheader;
    font-size: calcEm( 14, 16 );
    margin: 2em 0 1em 0;
  }
  a {
    color: $support-link;
    &:hover {
      color: $highlight;
    }
  }
  li {
    margin-bottom: .5em;
  }
}

.additional-reading {
  h3 {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: calcEm( 13, 16);
    font-weight: 700;
  }
  ol {
    margin-top: 0;
    padding-left: 0;
  }
  li {
    margin: .3em 0;
  }
}

.pnts {
  border-bottom: 1px dotted lighten($link, 50%);
  padding: .5em 0;
  font-style: italic;
  font-size: calcEm( 18, 16 );
  font-weight: 300;
  text-align: center;
  @include breakpoint( portrait ) {
    display: none;
  }
}

.imprint-full {
  margin-top: 2em;
  .main {
    text-align: center;
    span {
      font-style: italic;
    }
    h3 {
      @extend %subheader;
      font-size: calcEm( 14, 16 );
      font-weight: 400;
      &.atom {
        margin-top: 4em;
        margin-bottom: 1.5em;
      }
    }
    h2 {
      font-size: calcEm( 24, 16 );
    }
    h4 {
      font-family: "Ionicons";
      font-size: calcEm( 36, 16 );
      margin: 0 0 2em 0;
    }
  }
  h1 {
    font-size: calcEm( 96, 16 );
    margin: 0;
    font-weight: 300;
    @include breakpoint ( pocket ) {
      font-size: calcEm( 72, 16 );
    }
  }
  .supporting {
    margin-top: 3.5em;
    padding-top: 2.5em;
    border-top: 1px dotted lighten( $anchor, 60% );
    p {
      font-size: calcEm( 14, 16 );
    }
  }
  ul {
    @extend %nobullet;
    @extend %subheader;
    margin-bottom: 4em;
    @include breakpoint ( pocket ) {
      font-size: calcEm( 18, 16 );
    }
    li {
      @extend %inlineBlock;
      font-weight: 400;
      &:nth-child(2) {
        padding: 0 2em;
        &:before, &:after {
          content: "\f2bd";
          font-family: "Ionicons";
        }
        &:before {
          padding-right: 2em;
        }
        &:after {
          padding-left: 2em;
        }
      }
    }
  }
  .powered {
    text-align: center;
  }
}

.books {
  @extend %nobullet;
  li {
    overflow: hidden;
    margin-bottom: 17em;
  }
  .book {
    @extend %col-2-3;
    float: right;
    position: relative;
    background: darken( $copy, 5% );
    color: #EFEFEF;
    padding: 0 1.5em;
    min-height: 37em;
    @include breakpoint( pocket ) {  
      width: 100%;
    }
  }
  h1, h2 {
    font-weight: 300;
  }
  h1 {
    font-size: calcEm( 36, 16 );
    margin-top: 2em;
    border-top: 3px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    padding: 1em 0;
  }
  h2 {
    font-size: calcEm( 18, 16 );
    position: absolute;
    bottom: 1.5em;
  }
}