@media screen and (max-width: 480px) {
  .reading, .elsewhere {
    text-align: center;
  }
  
  .elsewhere {
    li {
      width: 100%;
      span {
        width: 100%;
      }
    }
  }
  
  .inner > article {
    padding-top: 0;
  }
  
  .article-nav ul {
    margin-top: 0;
  }
  
  .downloads h2 {
    padding-top: .7em;
  }
  
  .alignleft, .alignright {
    padding: 0 0 2em 0;
  }
}

@media screen and ( max-width: $ipadLandscape) {
  .inner, .posts .inner {
    width: 90%;
    padding: 0;
  }
}