body {
  font: normal normal 400 1em/1.7em "skolar-1", "skolar-2", Georgia, "Times New Roman", serif;
}

.global {
  text-transform: lowercase;
}

h1 {
  font-weight: 600;
  font-size: 1.9em;
  line-height: 1.2em;
  &.header {
    font-size: 1em;
    font-weight: 200;
  }
}

h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h2 {
  font-size: 1.5em;
  margin: 1em 0;
}

header h2 {
  font-size: 100%;
  margin: 0;
}

ol.footnotes {
  font-size: .8em;
  line-height: 1.6em;
}