/*-------------------------------------------

    =Global

-------------------------------------------*/

@media all {
  
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, summary, svg, time, mark, audio, video {
  background: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline
}

body, html {
  height: 100%;
}

body {
  margin-bottom: 0;
  width: 100%;
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}

.caption {
  font-size: .8em;
  display: block;
  color: #777;
  padding: 0;
  margin-top: -1em;
  line-height: 1.4em;
}

a {
  background: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
}

input, select {
  vertical-align: middle
}

img, embed, object, video, iframe, .wp-caption {
	max-width: 100% !important;
	margin: 1em 0;
}

dl,dd,dt {
  display: inline;
}

ul {
  list-style-type: none;
}

.inner {
  padding: 1em 2em;
  margin: 0 auto;
}

section {
  width: 100%;
  overflow: hidden;
  clear: both;
}

article {
  padding: 1em 0 1em 0;
  margin: 1em 0 1em 0;
}

header h2 a {
  text-transform: lowercase;
}

nav {
  float: right;
  display: inline;
  margin-bottom: 3em;
  ul {
    margin: 0;
    }
    li {
    margin: 0;
    float: left;
    padding-left: .2em;
    }
}

p {
  margin: 1.5em 0;
}

li
  .now {
    float: left;
  }
  .past {
    float: right;
  }
}

ul, ol {
  margin: .5em 0;
}

li {
  margin: .5em 0;
}

ol.footnotes {
  margin-top: 4em;
  padding-top: 1.5em;
}

.secondary article {
  margin-top: 0;
}

blockquote {
  padding: 0 1.5em;
  margin: 2em 0;
}

.share {
  text-align: center;
  margin-top: 1em;
}

.downloads h2 {
  margin-top: .1em;
}

.downloads article p {
  margin-top: .8em;
}

.elsewhere {
  clear: both;
  overflow: hidden;
  padding-bottom: 4em;
  li {
    margin: 2em 0;
  }
    a {
      display: block;
    }
    span {
      font-style: italic;
    }
}

.alignleft, .icon.alignleft {
  float: left;
  clear: left;
  margin: .5em 1em .5em 0 !important;
}

.alignright {
  float: right;
  clear: right;
  margin: .5em -3.5em .5em 1em;
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

.article-nav {
  display: block;
  width: 100%;
  padding-top: 0;
  margin-bottom: 1em;
}

p.questions {
  padding-top: 2em;
}


@import "desktop";
@import "nuance";
@import "pocket";
@import "typography";  