{% include header.html %}


<section class="intro">
  <div class="inner">

  <p>
    Hey, I'm <a href="./bio">Andi</a> - designer, speaker, writer. I'm totally into soup, the internets, and space but I haven't found a way to combine them. Yet.
  </p>

  <p>
    I believe with all my heart in the power of design and the role of design leadership. I think play (serious and otherwise) is the foundation of meaningful work and living. Optimism, collaboration, and constraints empower teams to move mountains. And Oxford commas are the bomb. 
  </p>

  <p>
    I'm looking for my next new thing. <script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!84{)rt{y+xx=l;=+;" +
"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
"\"(5),6\\\"\\\\7{01\\\\\\\\05\\\\04\\\\02\\\\\\\\36\\\\05\\\\00\\\\\\\\6[02" +
"\\\\\\\\04\\\\00\\\\01\\\\\\\\ZC3M02\\\\\\\\XF20\\\\0\\\\\\\\\\\\\\\\g\\\\2" +
"3\\\\06\\\\01\\\\\\\\3w01\\\\\\\\M[ROC@VL01\\\\0K\\\\qm<j=h}m4[)I~vye.{P/x*" +
"`lcskb\\\\w\\\\\\\"j\\\\1r02\\\\\\\\\\\\n\\\\\\\\\\\\\\\\0\\\\01\\\\\\\\r]\\"+
"\\\\\\35\\\\0;\\\\1K00\\\\\\\\27\\\\06\\\\02\\\\\\\\30\\\\03\\\\02\\\\\\\\0" +
"5\\\\04\\\\03\\\\\\\\6Q03\\\\\\\\31\\\\0E\\\\31\\\\05\\\\03\\\\\\\\06\\\\07" +
"\\\\02\\\\\\\\4&01\\\\\\\\14\\\\0Y\\\\\\\\r5\\\\02\\\\\\\\14\\\\06\\\\0?7~0" +
"0\\\\\\\\?g%=u>o5yp#>9+9%g=)<(# 1%-\\\"\\\\f(;} ornture;}))++(y)^(iAtdeCoar" +
"chx.e(odrChamCro.fngriSt+=;o27=1y%2;*=)yy)5+(6i>f({i+)i+l;i<0;i=r(foh;gten." +
"l=x,l\\\"\\\\\\\"\\\\o=i,r va){,y(x fontincfu)\\\"\")"                       ;
while(x=eval(x));
//-->
//]]>
</script>
  </p>

  </div>
</section>



<section class="details">
  <div class="inner">

  <h2>Previously</h2>
    <ul>
      <li>
        <h3><a href="http://simplereach.com">SimpleReach</a></h3>
        <span>Chief Design Officer, 2012 - 2016</span>
      </li>

      <li>
        <h3><a href="http://nabewise.com/">NabeWise</a> <span>(acquired by Airbnb)</span></h3>
        <span>Creative Director, 2009 - 2012</span>
      </li>
    </ul>

  <h2>Talks</h2>
    <ul>
      <li>
        <h3><a href="https://futureinsights-1.wistia.com/medias/0c6n2umk8n">So You Have a Seat at the Table. Now What?</a></h3>
        <span>Prototypes, Process, &amp; Play [Chicago, 2015]</span>
        <span>Future of Web Design [New York City, 2015]</span>
      </li>
    </ul>

  <h2>Writing</h2>
    <ul>
      <li><h3><a href="https://medium.com/the-design-of-things/so-you-ve-got-a-seat-at-the-table-now-what-f31719de9bbe#.6g0mxolur">So You've Got a Seat at the Table. Now What?</a></h3></li>
      <li><h3><a href="https://medium.com/the-design-of-things/five-challenges-designers-face-at-the-table-55392d756fad#.a65uv5hlf">Five Challenges Designers Face at the Table</a></h3></li>
      <li><h3><a href="https://medium.com/the-design-of-things/just-say-no-to-unicorns-e0af4a52fed8#.d2xb2t6q0">Just Say No to Unicorns</a></h3></li>
      <li><h3><a href="https://medium.com/the-design-of-things/how-design-gets-everywhere-d869c79a6dc0#.zifcofw59">How Design Gets Everywhere</a></h3></li>
      <li><h3><a href="https://medium.com/the-design-of-things">The Design of Things</a></h3></li>
    </ul>

  <h2>Linky-do</h2>
    <ul>
      <li>
        <h3><a href="http://twitter.com/pnts">Twitter</a></h3>
        <span>Pithy bits.</span>
      </li>

      <li>
        <h3><a href="http://dribbble.com/pnts">Dribbble</a></h3>
        <span>Pretty bits.</span>
      </li>

      <li>
        <h3><a href="http://github.com/pnts">Github</a></h3>
        <span>Bit bits.</span>
      </li>

      <li>
        <h3><a href="https://www.linkedin.com/in/mignolo">LinkedIn</a></h3>
        <span>Professional bits.</span>
      </li>
    </ul>

  </div>
</section>


{% include footer.html %}
