{% include header.html %}


<section class="intro">
  <div class="inner">

  <p class="narrow">
    Hey, I'm <a href="./bio">Andi</a>, a designery-type of person. I'm totally into soup, the internets, and space but I haven't found a way to combine them. Yet.
  </p>

  <p class="narrow">
    I believe with all my heart in the power of design and the role of design leadership. I think play (serious and otherwise) is the foundation of meaningful work and living. Optimism, collaboration, and constraints empower teams to move mountains. And Oxford commas are the bomb. 
  </p>

  <p>Think so too? <script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
"harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
"\\\\,l=x.length;for(i=0;i<l;i++){if(i>(117+y))y*=2;y%=127;o+=String.fromCha" +
"rCode(x.charCodeAt(i)^(y++));}return o;}f(\\\"\\\\\\\\\\\\021\\\\\\\\031\\\\"+
"\\\\024\\\\\\\\r\\\\\\\\024\\\\\\\\037\\\\\\\\025\\\\\\\\010S\\\\\\\\trhvfh" +
"k.%4h*c~hh2L3\\\\\\\\177r}ybx\\\\\\\\\\\"\\\\qs0\\\\\\\\177u\\\\\\\\177k`QL" +
"WW\\\\\\\\013STt\\\\\\\\013\\\\\\\\n_EYBJ\\\\\\\\rm\\\\\\\\020o\\\\\\\\026\\"+
"\\\\\\013zRL\\\\\\\\036I\\\\\\\\033_U_Kn}m\\\\\\\\\\\"\\\\zgo|xr\\\"\\\\,11" +
"7)\\\"(f};)lo,0(rtsbus.o nruter};)i(tArahc.x=+o{)--i;0=>i;1-l=i(rof}}{)e(hc" +
"tac};l=+l;x=+x{yrt{)15=!)31/l(tAedoCrahc.x(elihw;lo=l,htgnel.x=lo,\\\"\\\"=" +
"o,i rav{)x(f noitcnuf\")"                                                    ;
while(x=eval(x));
//-->
//]]>
</script>
</p>
  </div>
</section>



<section class="details">
  <div class="inner">
  <h2>Currently</h2>
    <ul>
      <li>
        <h3><a href="http://movableink.com">Movable Ink</a></h3>
        <span>Head of Design &amp; UX</span>
      </li>
      <li>
        <h3><a href="https://weatherhead.case.edu/">Weatherhead School of Management</a></h3>
        <span>MBA Candidate, Class of 2018</span>
      </li>
    </ul>

  <h2>Previously</h2>
    <ul>
      <li>
        <h3><a href="http://simplereach.com">SimpleReach</a></h3>
        <span>Chief Design Officer, 2012 - 2016</span>
      </li>

      <li>
        <h3><a href="http://nabewise.com/">NabeWise</a> <span>(acquired by Airbnb)</span></h3>
        <span>Creative Director, 2009 - 2012</span>
      </li>
    </ul>

  <h2>Talks</h2>
    <ul>
      <li>
        <h3><a href="http://leadingdesignconf.com/">New On the Job: The First 90 Days in a Design Leadership Role</a></h3>
        <span>Leading Design [London, 2016]</span>
      </li>
      <li>
        <h3><a href="https://litmus.com/conference">Transform Your Email Strategy with Design Leadership</a></h3>
        <span>Litmus TEDC [London, 2016]</span>
        <span>Litmus TEDC [Boston, 2016]</span>
        <span>Litmus TEDC [San Francisco, 2016]</span>
      </li>
      <li>
        <h3><a href="https://futureinsights-1.wistia.com/medias/0c6n2umk8n">So You Have a Seat at the Table. Now What?</a></h3>
        <span>Prototypes, Process, &amp; Play [Chicago, 2015]</span>
        <span>Future of Web Design [New York City, 2015]</span>
      </li>
    </ul>

  <h2>Writing</h2>
    <ul>
      <li>
        <h3><a href="https://medium.com/the-design-of-things">The Design of Things</a></h3>
        <span>A collection of essays and articles on Medium.</span>
      </li>
    </ul>

  <h2>Linky-do</h2>
    <ul>
      <li>
        <h3><a href="http://twitter.com/pnts">Twitter</a></h3>
        <span>Pithy bits.</span>
      </li>

      <li>
        <h3><a href="http://dribbble.com/pnts">Dribbble</a></h3>
        <span>Pretty bits.</span>
      </li>

      <li>
        <h3><a href="http://github.com/pnts">Github</a></h3>
        <span>Bit bits.</span>
      </li>

      <li>
        <h3><a href="https://www.linkedin.com/in/mignolo">LinkedIn</a></h3>
        <span>Professional bits.</span>
      </li>
    </ul>

  </div>
</section>


{% include footer.html %}
