<html>
  <head>
    <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type = "text/javascript" src = "/assets/js/a-hole/a-hole.js"></script>
    
    <script type="text/javascript">
    $(function(){  
      $(".btn").ahole();  
    });  
    
    </script>
    
    <style type="text/css">
      section { display: block; width: 25em; margin: 5em auto; line-height: 22px;}
      a { display: inline-block; padding: 7px 20px; background: #EEE; color: #333; font-family: Helvetica; text-decoration: none; border-radius: 5px;     -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear; margin: 0 auto;}
      
    </style>
  </head>
  
  <body>
    {{ content }}
  </body>
</html>