<footer>
  <div class="inner">
    <ul>
      <li><%= link_to('Twitter', 'https://twitter.com/pnts', :class => 'twitter') %> </li>
      <li><%= link_to('Github', 'http://github.com/pnts', :class => 'github') %> </li>
      <li><%= link_to('Medium', 'https://medium.com/the-design-of-things', :class => 'medium') %> </li>
      <li><%= link_to('LinkedIn', 'https://www.linkedin.com/in/mignolo', :class => 'linkedin') %> </li>
    </ul>
  </div>
</footer>
