---
title: Andrea Mignolo /// About
---

<section class="hero">
  <%= image_tag 'hero/about.png' %>
</section>

<section class="content">
  <div class="col-1">
    <h1 class="section-label">Mission</h1>
  </div>

  <div class="col-2">
    <h2>My mission is to help organizations create better ways of working that support individual and collective flourishing.</h2>

    <p>Looking for a more traditional bio? Try <%= link_to('this one', 'bio') %>.</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h1 class="section-label">On Design</h1>
  </div>

  <div class="col-2">
    <h3>Design is a way of learning about and shaping our world.</h3>

    <p>We've all experienced design in graphic communications, in the products and services we use, and in the buildings we live in. We can also apply design to dynamic, complex systems like organizations and teams.</p>

    <p>Any type of design work utilizes the design loop - a type of transformational learning loop - that moves through three stages: inquiry, creation, and reflection.  </p>

    <%= image_tag 'design-loop.png', :class => 'design-loop' %>

    <p><strong>Inquiry</strong>. Words create worlds, and the potential of the future hinges on our ability to ask the right questions. What we ask guides what is possible, and possibility is the hope of a different future. Possible futures might involve increased product engagement, more team alignment, or a new business model with a competitive advantage. Inquiry sets the stage for creation.</p>

    <p><strong>Creation</strong>. This is where things get really fun. Put something into the world and see what happens! Traditionally with design creation involves a product, a prototype, a piece of software, or a service to be experienced. But it could also be new ways of having conversations, ways to hold space and create psychological safety, or storytelling as ways of building alignment in organizations. </p>

    <p><strong>Reflection</strong>. What did we learn from our creation? What held true? What was surprising? What didn't work? All of these questions go back into refining our inquiry and progressing through the design loop again. Reflective practices increase our ability to create learning capabilities, to iterate, and to continually engage with defining the future. </p>
  </div>
</section>
