---
title: Andrea Mignolo /// About
---

<section class="hero">
  <%= image_tag 'hero/about.png' %>
</section>

<section class="content">
  <div class="col-1">
    <h1 class="section-label">Mission</h1>
  </div>

  <div class="col-2">
    <h2>My mission is to help organizations create better ways of working that support individual and collective flourishing.</h2>

    <p>Looking for a more traditional bio? Try <%= link_to('this one', 'bio') %>.</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h1 class="section-label">My Story</h1>
  </div>

  <div class="col-2">
    <p>I believe that personal transformation is the foundation for meaningful organizational change.  </p>
  </div>
</section>
