---
title: Andrea Mignolo /// Bio
---

<div class="bio">

  <div class="headshot">
    <%= image_tag("amignolo.png", :alt => "Headshot of Andrea Mignolo") %>
  </div>

  <h1>Andrea is a designer who has been exploring interactions between humans and technology for the last fifteen years. Her research interests center around the role of reflective practices in organizational design and development.</h1>

  <h2>Andrea is currently the Head of Design & UX at <%= link_to('Movable Ink', 'http://movableink.com') %> where she helps craft product strategy, innovation, creative direction, and development. She holds an MBA from the Weatherhead School of Management where she concentrated on enhancing mutual intelligibility between the realms of design and business. She also holds a BA in <%= link_to('Technocultural Studies', 'https://en.wikipedia.org/wiki/Technoculture') %> from Oberlin College.</h2>

  <p>Prior to Movable Ink she was the Chief Design Officer at SimpleReach, a local leader for both the Vancouver and New York branches of the Interaction Design Association, and the Creative Director of NabeWise, a neighborhood-centric start-up acquired by Airbnb in 2012.</p>

  <p>In previous lives she's been a video game tester, an English teacher at the Japanese Air Self-Defense Force, and was the developer of the once-popular <%= link_to('Oulipo Wordpress Theme', 'https://en.blog.wordpress.com/2010/08/16/new-theme-oulipo/') %>.</p>

</div>
