---
title: Andrea Mignolo /// Coaching
---


<section class="hero">
  <%= image_tag 'hero/coaching.png' %>
</section>

<section class="content">
  <div class="col-1">
    <h1 class="section-label">Coaching</h1>
  </div>

  <div class="col-2">
    <h2>I work with start-ups, leaders, and teams to design meaningful ways of working that lead to better organizations and outcomes.</h2>
  </div>
</section>


<section class="content">
  <div class="col-1">
    <h1 class="section-label">Principles</h1>
  </div>

  <div class="col-2">

  </div>
</section>


<section class="content training">
  <div class="col-1">
    <h1 class="section-label">Training</h1>
  </div>

  <div class="col-2">
    <h2>MBA, <%= link_to('Case Western Reserve University', 'https://weatherhead.case.edu/degrees/masters/mba/executive/') %></h2>
    <p>Intentional Change Theory, Appreciative Inquiry, Design Thinking</p>

    <h2><%= link_to('New Ventures West', 'http://www.newventureswest.com') %></h2>
    <p>Intergral Coach Candidate, September 2019</p>
  </div>
</section>
