---
title: pnts.us /// Andrea Mignolo
---

<section class="intro">
  <div class="inner">
    <p class="center">design <span>/</span> decoloniality <span>/</span> systems <span>/</span> learning</p>
    <%= image_tag 'deer-dark-lines.png', :class => 'deer' %>

    <div class="info">
      <h4>THE WORK</h4>
      <ul>
        <li><a href="https://methodandmatter.com">Executive Coach, method & matter</a></li>
        <li><a href="https://ixda.org">Vice President, IxDA</a></li>
      </ul>
      <ul class="previous-roles">
        <li>Visiting Faculty (service design), CIID</li>
        <li>Vice President of Product & Design, Movable Ink</li>
        <li>Chief Design Officer, SimpleReach</li>
        <li>Creative Director, NabeWise</li>
      </ul>

      <h4>THE BOOK</h4>
      <ul>
        <li><em><a href="https://leadershipbook.design">Design Leadership: The First 90 Days</a> </em></li>
        <li>A way finding guide and companion to the first days in your new role. Summer, 2021.</li>
      </ul>

    <h4>THE TALKS</h4>
    <ul>
      <li><em><a href="https://pnts.sfo2.digitaloceanspaces.com/dont-forget-design.pdf">Don't Forget The Design!</a></em> </li>
      <li><em><a href="https://vimeo.com/243835373">Eat Only Elk: Authenticity, Transformation, and the Business of Design.</a></em> </li>
      <li><em><a href="https://pnts.sfo2.digitaloceanspaces.com/new-on-the-job.pdf">New on the Job: Your First 90 Days in a Design Leadership Role.</a></em> </li>
      <li><em><a href="https://pnts.sfo2.digitaloceanspaces.com/seat-at-the-table.pdf">So You've Got a Seat at the Table. Now What?</a></em> </li>
    </ul>

    <h4>THE INFO</h4>
    <ul>
      <li>
        <a href="https://pnts.us/bio">about pnts</a>
      <li>
    </ul>

    </div>








  <!--  <h1>Hi, I'm <%= link_to('Andrea', 'bio') %>. <br /> I'm a design leader and <a href="https://methodandmatter.com"
      >integral coach</a> working at the intersection of business, design, and people. </h1>

    <p>I spend a lot of time <%= link_to('talking', 'speaking') %> and <%= link_to('writing', 'https://medium.com/@pnts', :class => 'medium') %> about <a href="https://medium.com/@pnts/learning-through-worldmaking-the-design-way-b0ed38cefc12">my own understanding of design</a>, what goes into building <a href="https://www.slideshare.net/pnts/disney-vs-pixar-a-tale-of-creative-leadership">high-performance teams</a>, and what <a href="https://medium.com/@pnts/priorities-capacity-and-support-a-dialogue-for-teams-a4decef1db1f">meaningful organizations</a> might look like. I'm also <a href="https://leadershipbook.design">working on a book</a> based on a talk I gave several years ago, titled "<a href="https://www.slideshare.net/pnts/new-on-the-job-your-first-90-days-in-a-design-leadership-role">New On the Job: Your First 90 Days in a Design Leadership Role</a>". You can follow along as I keep track of resources in <a href="https://roamresearch.com/#/app/design-leadership/page/CPoLCQI-e">Roam</a>, and post writing and reflections on <a href="https://medium.com/method-matter">Medium</a>.</p> -->



  </div>
</section>
