---
title: pnts.us /// ontological design studio
---

<section class="intro">
  <div class="about">
    <p class="name">P N T S . U S</p>
    <h1 class="studio">an ontological design studio</h1>
  </div>

  <blockquote>
    "In ontological designing we are doing more than asking what can be built. We are engaging in a philosophical discourse about the self – about what we can do and what can be. Tools are fundamental to action, and through our actions we generate the world. <strong>The transformation we are concerned with is not a technical one, but a continuing evolution of how we understand our surroundings and ourselves – of how we continue becoming the beings we are.</strong>"
    <p>- Fernando Flores & Terry Winograd</p>
  </blockquote>

  <div class="newsletter">
    <p class="name">Assorted writings on Medium:  <%= link_to("Explorations in Design", 'https://medium.com/the-design-of-things' )%>.</p>
  </div>

  <div class="literature">
    <p class="name">literature review</p>

    <ul>
      <% data.literature.resource.each do |a| %>
        <li>
          <h3><%= link_to(a.title, a.link) %></h3>
          <h4><%= a.author %>, <%= a.year %></h4>
        </li>
      <% end %>
    </ul>
  </div>


<p class="updated">Last updated November 5th, 2022 by <a href="https://andreamignolo.com">Andrea Mignolo</a></p>
</section>
