---
title: pnts.us /// Andrea Mignolo
---

<section class="intro">
  <div class="inner">
    <p class="center">design <span>/</span> decoloniality <span>/</span> systems <span>/</span> learning</p>
    <%= image_tag 'deer-dark-lines.png', :class => 'deer' %>
    <p class="center">an ontological design studio</p>

    </div>








  <!--  <h1>Hi, I'm <%= link_to('Andrea', 'bio') %>. <br /> I'm a design leader and <a href="https://methodandmatter.com"
      >integral coach</a> working at the intersection of business, design, and people. </h1>

    <p>I spend a lot of time <%= link_to('talking', 'speaking') %> and <%= link_to('writing', 'https://medium.com/@pnts', :class => 'medium') %> about <a href="https://medium.com/@pnts/learning-through-worldmaking-the-design-way-b0ed38cefc12">my own understanding of design</a>, what goes into building <a href="https://www.slideshare.net/pnts/disney-vs-pixar-a-tale-of-creative-leadership">high-performance teams</a>, and what <a href="https://medium.com/@pnts/priorities-capacity-and-support-a-dialogue-for-teams-a4decef1db1f">meaningful organizations</a> might look like. I'm also <a href="https://leadershipbook.design">working on a book</a> based on a talk I gave several years ago, titled "<a href="https://www.slideshare.net/pnts/new-on-the-job-your-first-90-days-in-a-design-leadership-role">New On the Job: Your First 90 Days in a Design Leadership Role</a>". You can follow along as I keep track of resources in <a href="https://roamresearch.com/#/app/design-leadership/page/CPoLCQI-e">Roam</a>, and post writing and reflections on <a href="https://medium.com/method-matter">Medium</a>.</p> -->



  </div>
</section>
