---
title: Hi! I'm Andrea Mignolo, a very designery type of person.
---

<h1>
  <p>
    Hey, I'm <%= link_to('Andi', 'bio') %>, a designery-type of person. I'm totally into soup, the internets, and space but I haven't found a way to combine them. Yet.
  </p>
</h1>

<h2>
  <p>
    I believe with all my heart in the power of design and the role of design leadership. I think play (serious and otherwise) is the foundation of meaningful work and living. Optimism, collaboration, and constraints empower teams to move mountains. And Oxford commas are the bomb.
  </p>
</h2>

<p>Think so too? <script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
"harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
"\\\\,l=x.length;for(i=0;i<l;i++){if(i>(117+y))y*=2;y%=127;o+=String.fromCha" +
"rCode(x.charCodeAt(i)^(y++));}return o;}f(\\\"\\\\\\\\\\\\021\\\\\\\\031\\\\"+
"\\\\024\\\\\\\\r\\\\\\\\024\\\\\\\\037\\\\\\\\025\\\\\\\\010S\\\\\\\\trhvfh" +
"k.%4h*c~hh2L3\\\\\\\\177r}ybx\\\\\\\\\\\"\\\\qs0\\\\\\\\177u\\\\\\\\177k`QL" +
"WW\\\\\\\\013STt\\\\\\\\013\\\\\\\\n_EYBJ\\\\\\\\rm\\\\\\\\020o\\\\\\\\026\\"+
"\\\\\\013zRL\\\\\\\\036I\\\\\\\\033_U_Kn}m\\\\\\\\\\\"\\\\zgo|xr\\\"\\\\,11" +
"7)\\\"(f};)lo,0(rtsbus.o nruter};)i(tArahc.x=+o{)--i;0=>i;1-l=i(rof}}{)e(hc" +
"tac};l=+l;x=+x{yrt{)15=!)31/l(tAedoCrahc.x(elihw;lo=l,htgnel.x=lo,\\\"\\\"=" +
"o,i rav{)x(f noitcnuf\")"                                                    ;
while(x=eval(x));
//-->
//]]>
</script>
</p>


<h3>Currently</h3>
<ul>
  <li>
    <h4><a href="http://movableink.com">Movable Ink</a></h4>
    <span>Head of Design &amp; UX</span>
  </li>
</ul>

<h3>Previously</h3>
<ul>
  <li>
    <h4><a href="http://simplereach.com">SimpleReach</a></h4>
    <span>Chief Design Officer, 2012 - 2016</span>
  </li>

  <li>
    <h4><a href="http://fortune.com/2012/11/13/with-neighborhoods-airbnb-expands-its-horizons/">NabeWise</a> <span>(acquired by Airbnb)</span></h3>
    <span>Creative Director, 2009 - 2012</span>
  </li>
</ul>
