---
title: pnts.us /// ontological design studio
---

<section class="intro">
  <div class="about">
    <p class="name">P N T S . U S</p>
    <p class="studio">an ontological design studio</p>
  </div>

  <blockquote>
    "In ontological designing we are doing more than asking what can be built. We are engaging in a philosophical discourse about the self – about what we can do and what can be. Tools are fundamental to action, and through our actions we generate the world. <strong>The transformation we are concerned with is not a technical one, but a continuing evolution of how we understand our surroundings and ourselves – of how we continue becoming the beings we are.</strong>"
  </blockquote>

  <div class="literature">
    <p class="name">literature review</p>

    <ul>
      <li>
        <h3><a href="https://archive.org/details/understandingcom00wino">Understanding Computers and Cognition</a></h3>
        <h4>Terry Winnograd & Fernando Flores, 1987</h4>
      </li>

      <li>
        <h3><a href="https://drive.google.com/file/d/1qvB87DqByJkJJDHxdtEMRnYZpTsqP8GQ/view?usp=sharing">Ontological Designing</a></h3>
        <h4>Anne-Marie Willis, 2015</h4>
      </li>

      <li>
        <h3><a href="https://drive.google.com/file/d/1YTsFErHE2OElIBF075tRzWfZdBqeKsLa/view?usp=sharing">Transiciones: a space for research and design for
transitions to the pluriverse</a></h3>
        <h4>Arturo Escobar, 2016</h4>
      </li>

      <li>
        <h3><a href="https://drive.google.com/file/d/1GhXznqaNW1j0Io_kJBoN6K4vWv1YdOo3/view?usp=sharing">Practiced-based ontological design for multiplying realities</a></h3>
        <h4>Chris Nold, 2018</h4>
      </li>

      <li>
        <h3><a href="https://drive.google.com/file/d/1f4GfFL3rdTay-n4VWsYdJLYL70IfjOmh/view?usp=sharing">Designing Consciousness: Psychedelics as
Ontological Design Tools for Decolonizing Consciousness</a></h3>
        <h4>Joshua Falcon, 2020</h4>
      </li>

    </ul>
  </div>

  <div class="newsletter">

    <p class="name"><label for="tlemail">soy un poca lenta pero siempre <a href="http://newsletter.pnts.us">llego</a>...</label></p>
    <p class="list-description"></p>

    <div id="revue-embed">
      <form action="https://www.getrevue.co/profile/pnts/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
        <div class="revue-form-group">
          <input class="revue-form-field" placeholder="Your email address..." type="email" name="member[email]" id="member_email">
        </div>
        <div class="revue-form-actions">
          <input type="submit" value="Subscribe" name="member[subscribe]" id="member_submit">
        </div>
        <!-- <div class="revue-form-footer">By subscribing, you agree with Revue’s <a target="_blank" href="https://www.getrevue.co/terms">Terms of Service</a> and <a target="_blank" href="https://www.getrevue.co/privacy">Privacy Policy</a>.</div> -->
  </form>
</div>
</div>

<p class="updated">Last updated October 8th, 2022 by <a href="https://andreamignolo.com">Andrea Mignolo</a></p>
</section>
