---
title: Andrea Mignolo /// Speaking Engagements
---

<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/243835373?color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

<div class="hero">
  <div class="speaking-intro">
    <h3>Speaking and Workshops</h3>
    <h2>
      I'm incredibly passionate about organizational design and love talking about design, leadership, business, and the role of reflective practices in organizations. I'm currently working on developing my talk "New On the Job: The First 90 Days in a Design Leadership Role" into a workshop. Interested in having me speak or run a workshop? <br/><br/><script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
"harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
"\\\\,l=x.length;for(i=0;i<l;i++){if(i>(117+y))y*=2;y%=127;o+=String.fromCha" +
"rCode(x.charCodeAt(i)^(y++));}return o;}f(\\\"\\\\\\\\\\\\021\\\\\\\\031\\\\"+
"\\\\024\\\\\\\\r\\\\\\\\024\\\\\\\\037\\\\\\\\025\\\\\\\\010S\\\\\\\\trhvfh" +
"k.%4h*c~hh2L3\\\\\\\\177r}ybx\\\\\\\\\\\"\\\\qs0\\\\\\\\177u\\\\\\\\177k`QL" +
"WW\\\\\\\\013STt\\\\\\\\013\\\\\\\\n_EYBJ\\\\\\\\rm\\\\\\\\020o\\\\\\\\026\\"+
"\\\\\\013zRL\\\\\\\\036I\\\\\\\\033_U_Kn}m\\\\\\\\\\\"\\\\zgo|xr\\\"\\\\,11" +
"7)\\\"(f};)lo,0(rtsbus.o nruter};)i(tArahc.x=+o{)--i;0=>i;1-l=i(rof}}{)e(hc" +
"tac};l=+l;x=+x{yrt{)15=!)31/l(tAedoCrahc.x(elihw;lo=l,htgnel.x=lo,\\\"\\\"=" +
"o,i rav{)x(f noitcnuf\")"                                                    ;
while(x=eval(x));
//-->
//]]>
</script>
    </h2>
  </div>

  <ul class="supporting-list">
    <h3>Selected Talks</h3>
    <li>
      <h4><a href="https://2017.leadingdesignconf.com/">Eat Only Elk: Authenticity, Transformation, and the Business of Design</a></h4>
      <span>Leading Design, Keynote [London, 2017]</span>
    </li>
    <li>
      <h4><a href="https://2016.leadingdesignconf.com/">New On the Job: The First 90 Days in a Design Leadership Role</a></h4>
      <span>Leading Design [London, 2016]</span>
    </li>
    <li>
      <h4><a href="https://litmus.com/conference/2016">Transform Your Email Strategy with Design Leadership</a></h4>
      <span>Litmus TEDC, Keynote [London, 2016]</span>
      <span>Litmus TEDC, Keynote [Boston, 2016]</span>
      <span>Litmus TEDC, Keynote [San Francisco, 2016]</span>
    </li>
    <li>
      <h4><a href="https://futureinsights-1.wistia.com/medias/0c6n2umk8n">So You Have a Seat at the Table. Now What?</a></h4>
        <span>Prototypes, Process, &amp; Play [Chicago, 2015]</span>
        <span>Future of Web Design [New York City, 2015]</span>
    </li>
  </ul>
</div>


<div class="talk-photos">
  <ul>
    <li><%= image_tag("fowd.png", :alt => "Future of Web Design") %></li>
    <li><%= image_tag("litmus.png", :alt => "Litmus Talk Photo") %></li>
  </ul>
</div>

<div class="sketchnotes">
  <%= image_tag("litmus-sketchnotes.png", :alt => "Litmus Sketchnotes") %></li>
</div>

<div class="twitter">
  <ul>
    <li><blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">“Your intellect will not take you there” on overcoming fear. WHAT a deeply moving talk. I’m in awe <a href="https://twitter.com/pnts?ref_src=twsrc%5Etfw">@pnts</a> relate to every word <a href="https://twitter.com/hashtag/leadingdesign?src=hash&amp;ref_src=twsrc%5Etfw">#leadingdesign</a> <a href="https://t.co/1ZicLdHknj">pic.twitter.com/1ZicLdHknj</a></p>&mdash; sana rao ✨ (@sanarao) <a href="https://twitter.com/sanarao/status/923219731607379968?ref_src=twsrc%5Etfw">October 25, 2017</a></blockquote></li>
    <li><blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">I finally watched <a href="https://twitter.com/pnts?ref_src=twsrc%5Etfw">@pnts</a> talk “Eat Only Elk: Authenticity, Transformation, and the Business of Design” from <a href="https://twitter.com/LDconf?ref_src=twsrc%5Etfw">@ldconf</a> and can’t recommend it enough—<a href="https://t.co/FmEl6v9d0V">https://t.co/FmEl6v9d0V</a></p>&mdash; Erik Dahl (@eadahl) <a href="https://twitter.com/eadahl/status/946876388207939594?ref_src=twsrc%5Etfw">December 29, 2017</a></blockquote></li>
    <li><blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">Amazing talk about design getting to the table. <a href="https://twitter.com/pnts?ref_src=twsrc%5Etfw">@pnts</a> is killing it! <a href="https://twitter.com/hashtag/pppconf?src=hash&amp;ref_src=twsrc%5Etfw">#pppconf</a> <a href="http://t.co/Bp4jDQ6lgc">pic.twitter.com/Bp4jDQ6lgc</a></p>&mdash; Milissa Tarquini (@milissa) <a href="https://twitter.com/milissa/status/629736340985389057?ref_src=twsrc%5Etfw">August 7, 2015</a></blockquote></li>
    <li><blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">The amazing <a href="https://twitter.com/pnts?ref_src=twsrc%5Etfw">@pnts</a> on stage now, last years presentation was very inspiring, am sure this one will be too <a href="https://twitter.com/hashtag/leadingdesign?src=hash&amp;ref_src=twsrc%5Etfw">#leadingdesign</a> <a href="https://twitter.com/LDconf?ref_src=twsrc%5Etfw">@LDconf</a></p>&mdash; Birgit Geiberger (@birgitgcom) <a href="https://twitter.com/birgitgcom/status/923212528624308224?ref_src=twsrc%5Etfw">October 25, 2017</a></blockquote></li>
    <li><blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/pnts?ref_src=twsrc%5Etfw">@pnts</a> if only you&#39;d coached me 10 years ago with the wisdom you shared <a href="https://twitter.com/LDconf?ref_src=twsrc%5Etfw">@LDconf</a> ! Might have failed a little less :)</p>&mdash; Steve &#39;Buzz&#39; Pearce (@stevebuzzpearce) <a href="https://twitter.com/stevebuzzpearce/status/790793611738767360?ref_src=twsrc%5Etfw">October 25, 2016</a></blockquote></li>
    <li><blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Too busy scribbling away in my notebook top tips from <a href="https://twitter.com/pnts?ref_src=twsrc%5Etfw">@pnts</a> on first 90 days as a design leader to tweet.  Epic.  Inspired. <a href="https://twitter.com/hashtag/ldconf?src=hash&amp;ref_src=twsrc%5Etfw">#ldconf</a></p>&mdash; Anna Rzepczynski (@annarzepczynski) <a href="https://twitter.com/annarzepczynski/status/790526173059178496?ref_src=twsrc%5Etfw">October 24, 2016</a></blockquote></li>
  </ul>
</div>

<div class="slideshare">
  <iframe src="//www.slideshare.net/slideshow/embed_code/key/1xggmAarhUnotB" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
  <iframe src="//www.slideshare.net/slideshow/embed_code/key/LyyOUxmohF6iAc" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
  <iframe src="//www.slideshare.net/slideshow/embed_code/key/530OvPoSn2HMWC" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
  <iframe src="//www.slideshare.net/slideshow/embed_code/key/h6khaV096BybcV" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
</div>

<div class="twitter">
  <ul>
    <li><blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/pnts?ref_src=twsrc%5Etfw">@pnts</a> nailing it today at <a href="https://twitter.com/hashtag/ldconf?src=hash&amp;ref_src=twsrc%5Etfw">#ldconf</a> - engaging, a little provocative and very practical.</p>&mdash; Jason Mesut (@jasonmesut) <a href="https://twitter.com/jasonmesut/status/790522900818325504?ref_src=twsrc%5Etfw">October 24, 2016</a></blockquote></li>
    <li><blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/pnts?ref_src=twsrc%5Etfw">@pnts</a> Awesome presentation. Perfect balance of email, cats, and game of thrones 👌🏼<a href="https://twitter.com/hashtag/LitmusLive?src=hash&amp;ref_src=twsrc%5Etfw">#LitmusLive</a></p>&mdash; Myran Mahroo (@t3chbuff) <a href="https://twitter.com/t3chbuff/status/776522992234790912?ref_src=twsrc%5Etfw">September 15, 2016</a></blockquote></li>
    <li><blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Loving the opening talk from <a href="https://twitter.com/pnts?ref_src=twsrc%5Etfw">@pnts</a>. &quot;Design is the rendering of intent.&quot; <a href="https://twitter.com/hashtag/LitmusLive?src=hash&amp;ref_src=twsrc%5Etfw">#LitmusLive</a></p>&mdash; Sarah Esterman 👋 (@sarahesterman) <a href="https://twitter.com/sarahesterman/status/776518106982211584?ref_src=twsrc%5Etfw">September 15, 2016</a></blockquote></li>
    <li><blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Great start at <a   href="https://twitter.com/hashtag/LitmusLive?src=hash&amp;ref_src=twsrc%5Etfw">#LitmusLive</a>! Strong presentation by <a href="https://twitter.com/pnts?ref_src=twsrc%5Etfw">@pnts</a> on email strategy and design leadership. Perfect use of real life examples.</p>&mdash; Daniel Day (@daniel_day) <a href="https://twitter.com/daniel_day/status/765546721988505602?ref_src=twsrc%5Etfw">August 16, 2016</a></blockquote></li>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </ul>
</div>
